# My Jupyter Notebook on IBM Watson Studio

**Nicolas Bierti del Rey** 

Data Scientist

*Im interested in Data Science because of the positive impact it can do on the world*

### The following code will print numbers from 1 to 5

In [2]:
for i in range (1,6):
    print(i)

1
2
3
4
5

- one
- two
- three
- four
- five